# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Environment files
.env
.env.backup

# IDE files
/.idea
/.vscode
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Composer & npm
composer.lock
package-lock.json
yarn.lock

# PHPStorm / JetBrains
/.phpstorm.meta.php

# PHPUnit coverage
coverage/

# Temporary files
.php_tmp/
